{% extends 'base.html' %}
{% block body %}
<div class="row justify-content-center">

<div class="col-sm-4 mb-6">
    <div class="shadow card mt-3" style="width: 100%;">
        <img class="card-img-top" src="{{ blog.image.url }}" width="200" height="200" alt="{{ blog.title }}">
        <div class="card-body">
            <h5 class="card-title">Title: {{ blog.title }}</h5>
            <h5 class="card-title">Author: {{ blog.author }}</h5>
            <p>{{ blog.content }}</p>
            <a class="btn btn-success" href="{% url 'comment' blog.pk %}">Comment</a>
      
            {% if user == blog.author %}
                <a class="btn btn-warning" href="{% url 'update' blog.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete' blog.pk %}">Delete</a>
            {% endif %}
            
        </div>
    </div>
</div>
</div>
{% endblock %}

